<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExpFinance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ExpFinance.Properties.Settings.ExpFinanceConnectionString"
      connectionString="Data Source=bmsql2;Initial Catalog=DEPENSE_CLIENT;Persist Security Info=True;User ID=ExpFinance;Password=ExpFinance2016"
      providerName="System.Data.SqlClient" />
    <add name="ExpFinanceEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bmsql2;initial catalog=DEPENSE_CLIENT;persist security info=True;user id=ExpFinance;password=ExpFinance2016;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <ExpFinance.Properties.Settings>
      <setting name="reportDetailsFacture" serializeAs="String">
        <value>/ExpFinance/test/DetailsFactureReport</value>
      </setting>
      <setting name="reportServerURL" serializeAs="String">
        <value>http://bmsql2/reportserver</value>
      </setting>
      <setting name="report" serializeAs="String">
        <value>http://bmsql2/Reports/Pages/Folder.aspx?ItemPath=%2fExpFinance</value>
      </setting>
      <setting name="entite" serializeAs="String">
        <value>HYDRAPHARM</value>
      </setting>
    </ExpFinance.Properties.Settings>
  </applicationSettings>
</configuration>